* {
    margin: 0;
    padding: 0;    

    /* AVAILABLE FONTS 
    
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

    */
}